.mainContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    padding-bottom: 40px;
}

#title{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    padding: 20px;
    color:#3892c6;
    margin: 30px 0px;
}

#p1{
    padding: 20px;
    border: solid 1px #3892c6;
    border-radius: 10px;
    color: #3892c6;
    text-align: center;
    width: 60%;
}

.container2{
    display: flex;
    background-color: #3892c6;
    align-items: center;
    justify-content: center;
}

#p2{
    color: #d7e9f5;
    width: 60%;
    padding: 30px 0px;
    text-align: center;
}

.container3{
    padding: 40px;
}

#datavizBtn {
  display: inline-block;
  padding: 10px 20px;
  background-color:#3892c6;   /* blue like Bootstrap */
  color:#d7e9f5;
  text-decoration: none;       /* remove underline */
  border-radius: 8px;          /* rounded corners */
  font-weight: bold;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

#datavizBtn:hover {
  background-color: #0056b3;   /* darker blue on hover */
  transform: translateY(-2px); /* slight lift effect */
}

#datavizBtn:active {
  background-color: #004080;   /* even darker on click */
  transform: translateY(0);    /* reset lift */
}
