.loggedIn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 15px;
}

.loggedOut{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    padding: 0px 15px;
}

.signButton{
    cursor: pointer;
    color: #3892c6;
}

.signButton:hover{
    cursor: pointer;
    color: #226891;
}