/*NavBar Styling*/

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background-color: #3892c6; /* Tailwind's blue-600 */
  color: #d7e9f5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  padding-bottom: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 50;
}

.page-title {
  font-weight: 600;
  font-size: 1.125rem; /* text-lg */
    color: white;
    background-color: aqua;
}

.menu-container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.icon-btn {
  font-size: 1.1rem; /* text-2xl */
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}

.menuOptionContainer{
  flex-direction: row;
  align-items: center;
}

.menuName{
  padding-right: 10px;
}

.nav-link-custom {
  text-decoration: none;  
  color: #3892c6;            
}

.menuOptions:hover{
  cursor: pointer;
}

#pageName {
  text-align: center;
  padding-left: 25px;
  padding-top: 20px;
  
}

.icon-btn:hover, .dropdown, .option{
  cursor: pointer;
}

.donutChartLabel{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 40px;
  padding-top: 20px;
  text-align: start;
}

#total{
  height: 20px;
}

.dropdownOptions, .linechart{
  padding: 0px 30px;
}

.tooltipCustom{
  background-color:white;
  border: solid grey 1px;
  padding: 10px 15px; /* Padding around the content */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Soft shadow */
  font-size: 14px; /* Font size */
  max-width: 250px; /* Maximum width */
  white-space: pre-line; /* Allow line breaks in text */
}

.labelCategoriesModal{
  padding-left: 10px;
  text-align: start;
}

.modifyCategoriesButton{
  color: #3892c6;
  text-decoration: underline;
  padding: 0px;
  margin: 0px;
  margin-bottom: 5px;
}

.blueSectionButtons{
  color: #d7e9f5;
}

.modifyCategoriesButton:hover{
  cursor: pointer;
  color: blue;
}

.blueSectionChart{
  background-color: #d7e9f5;
  padding: 10px 10px;
  border-radius: 10px;
}

.sexChartContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.chartContainer{
  width: 100%;
}

.sexRadioButtons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  width: 20%;
  color: #d7e9f5;
}

.input-group .input-group-text {
  display: flex;
  align-items: center; /* Aligns the label text vertically in the middle */
  height: 38px; /* Make the label have the same height as the select input */
  padding-top: 0; /* Remove any top padding from the label */
  padding-bottom: 0; /* Remove any bottom padding from the label */
}

.input-group .form-select {
  height: 38px; /* Make the select element height match the label */
  padding-top: 0; /* Remove any top padding from the select input */
  padding-bottom: 0; /* Remove any bottom padding from the select input */
}

.yearSlider{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#yearSliderLabel{
  padding: 0px 10px;
}



