* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  caret-color: transparent;
  cursor: default;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.app_container {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;

}

/* Push main content below the fixed navbar */
.main {
  padding-top: 50px;
}
